#s-25a34e7f-2df6-4906-8857-8d372b32e242 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Layer_1 {
  position: absolute;
  width: 360px;
  height: 638px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Layer_1 > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Layer_1 > svg {
  height: 638px;
  width: 360px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Virus-PNG-Photos-1 {
  position: absolute;
  width: 107px;
  height: 106px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Virus-PNG-Photos-1 > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Virus-PNG-Photos-1 > svg {
  height: 106px;
  width: 107px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-NewModes {
  position: absolute;
  width: 159px;
  height: 171px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tInbox > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tInbox {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tInbox > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tInbox > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tInbox .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tInbox span {
  color: #8DC2E2;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tInbox span#rtr-s-tInbox_0 {
  color: #8DC2E2;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tcalendar > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tcalendar {
  position: absolute;
  width: 64px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tcalendar > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tcalendar > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tcalendar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tcalendar span {
  color: #8DC2E2;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tcalendar span#rtr-s-tcalendar_0 {
  color: #8DC2E2;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tenvirnomentalmode > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tenvirnomentalmode {
  position: absolute;
  width: 106px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tenvirnomentalmode > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tenvirnomentalmode > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tenvirnomentalmode .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tenvirnomentalmode span {
  color: #8DC2E2;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tenvirnomentalmode span#rtr-s-tenvirnomentalmode_0 {
  color: #8DC2E2;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-EnvironmentalMode {
  position: absolute;
  width: 42px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-EnvironmentalMode > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-EnvironmentalMode > svg {
  height: 43px;
  width: 42px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Inbox {
  position: absolute;
  width: 42px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Inbox > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Inbox > svg {
  height: 43px;
  width: 42px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Calendar {
  position: absolute;
  width: 42px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Calendar > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Calendar > svg {
  height: 43px;
  width: 42px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Group_2 {
  position: absolute;
  width: 303px;
  height: 111px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Rectangle_1 {
  position: absolute;
  width: 303px;
  height: 111px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Rectangle_1 > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Rectangle_1 > svg {
  height: 111px;
  width: 303px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Layer {
  position: absolute;
  width: 123px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Layer > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Layer > svg {
  height: 80px;
  width: 123px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-of_your_patients_are_Healthy {
  position: absolute;
  width: 65px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-of_your_patients_are_Healthy > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-of_your_patients_are_Healthy > svg {
  height: 56px;
  width: 65px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 {
  position: absolute;
  width: 155px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 span {
  color: #BD2239;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #BD2239;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 span#rtr-s-Text_1_2 {
  color: #FDCA45;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 span#rtr-s-Text_1_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 span#rtr-s-Text_1_4 {
  color: #6DFD6F;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 span#rtr-s-Text_1_5 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Group_1 {
  position: absolute;
  width: 293px;
  height: 238px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_2 > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_2 span {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_2 > svg {
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_2 {
  position: absolute;
  width: 41px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_2 > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_2 > svg {
  height: 39px;
  width: 41px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_3 > svg {
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_3 {
  position: absolute;
  width: 41px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_3 > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_3 > svg {
  height: 39px;
  width: 41px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_4 > svg {
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_4 {
  position: absolute;
  width: 41px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_4 > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_4 > svg {
  height: 39px;
  width: 41px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_5 > svg {
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_5 {
  position: absolute;
  width: 41px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_5 > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_5 > svg {
  height: 39px;
  width: 41px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_1 > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_1 span {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_1 span#rtr-s-Doctors_1_0 {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_1 span#rtr-s-Doctors_1_1 {
  color: #FDB69F;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_2 > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_2 span {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_2 span#rtr-s-Doctors_2_0 {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_2 span#rtr-s-Doctors_2_1 {
  color: #6DFD6F;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_3 > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_3 span {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_3 span#rtr-s-Doctors_3_0 {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_3 span#rtr-s-Doctors_3_1 {
  color: #BD2239;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_4 > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_4 span {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_4 span#rtr-s-Doctors_4_0 {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_4 span#rtr-s-Doctors_4_1 {
  color: #6DFD6F;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_3 > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_3 span {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_4 {
  position: absolute;
  width: 135px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_4 > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_4 span {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #B2C9E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_5 {
  position: absolute;
  width: 89px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_5 > .clipping, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_5 span {
  color: #DBE9F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #DBE9F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_74 > svg {
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_74 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_74 > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_74 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_72 > svg {
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_72 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_72 > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_72 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Input_1 {
  position: absolute;
  width: 135px;
  height: 17px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #DBE9F8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Input_1 > .paddingLayer {
  height: 15px;
  width: 128px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_1 > svg {
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_1 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_1 > img, #s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_1 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}