#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Layer_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Virus-PNG-Photos-1 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tInbox {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tcalendar {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-tenvirnomentalmode {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-EnvironmentalMode {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Inbox {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Calendar {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Layer {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-of_your_patients_are_Healthy {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_2 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_3 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Doctors_4 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25a34e7f-2df6-4906-8857-8d372b32e242 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}