#s-51ba10cb-2880-4613-8b44-4bc9695d40f1 #s-VitalBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51ba10cb-2880-4613-8b44-4bc9695d40f1 #s-Pulse {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51ba10cb-2880-4613-8b44-4bc9695d40f1 #s-ECG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51ba10cb-2880-4613-8b44-4bc9695d40f1 #s-BOL {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51ba10cb-2880-4613-8b44-4bc9695d40f1 #s-Temp {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51ba10cb-2880-4613-8b44-4bc9695d40f1 #s-vitalsigns {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51ba10cb-2880-4613-8b44-4bc9695d40f1 #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51ba10cb-2880-4613-8b44-4bc9695d40f1 #s-Calendar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51ba10cb-2880-4613-8b44-4bc9695d40f1 #s-Inbox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51ba10cb-2880-4613-8b44-4bc9695d40f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}