#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-VitalBox {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-vitalsigns {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-skinrespiration {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-BT {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-generalmeasurments {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-HR {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-Pulse {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-ECG {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-cardiacmeasurments {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-HR_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-HR_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-HR_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-RS {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-respiratorymeasurments {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-RP {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-Bloodmeasurments {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-BOL {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-BG {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-SPO2 {
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 223px;
  -ms-transform: rotate(0.0deg);
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}