#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-VitalBox {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-vitalsigns {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-skinrespiration {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-BT {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-generalmeasurments {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-HR {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-Pulse {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-ECG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-cardiacmeasurments {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-HR_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-HR_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-HR_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-RS {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-respiratorymeasurments {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-RP {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-Bloodmeasurments {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-BOL {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-SPO2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-66b89eb9-64b5-4558-81af-3814a2ed719b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}