#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-selectedDay {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Doctors {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-insert {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-exit {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Doctors_1 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Doctors_2 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Doctors_3 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Doctors_4 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-adebe0ae-b919-480d-b74c-dd5ad31283a8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}