#s-ca32f58d-3a95-4c58-a746-d7136b1a77be #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca32f58d-3a95-4c58-a746-d7136b1a77be #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca32f58d-3a95-4c58-a746-d7136b1a77be #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca32f58d-3a95-4c58-a746-d7136b1a77be #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca32f58d-3a95-4c58-a746-d7136b1a77be #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca32f58d-3a95-4c58-a746-d7136b1a77be #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca32f58d-3a95-4c58-a746-d7136b1a77be #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca32f58d-3a95-4c58-a746-d7136b1a77be #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca32f58d-3a95-4c58-a746-d7136b1a77be #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca32f58d-3a95-4c58-a746-d7136b1a77be #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ca32f58d-3a95-4c58-a746-d7136b1a77be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}