#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Doctors {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_1 {
  rotation: 90.0;
  margin-left: 48px;
  margin-top: -50px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-severe {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-inrisk {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-healthy {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_8 {
  rotation: 302.0;
  margin-left: 8px;
  margin-top: -16px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_9 {
  rotation: 15.0;
  margin-left: 0px;
  margin-top: -4px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_10 {
  rotation: 347.0;
  margin-left: 0px;
  margin-top: -3px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_11 {
  rotation: 38.0;
  margin-left: 2px;
  margin-top: -9px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_12 {
  rotation: 344.0;
  margin-left: 0px;
  margin-top: -4px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_13 {
  rotation: 30.0;
  margin-left: 0px;
  margin-top: -5px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_14 {
  rotation: 353.0;
  margin-left: 0px;
  margin-top: -3px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_15 {
  rotation: 28.0;
  margin-left: 1px;
  margin-top: -8px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_16 {
  rotation: 351.0;
  margin-left: 0px;
  margin-top: -3px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_17 {
  rotation: 21.0;
  margin-left: 0px;
  margin-top: -5px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_18 {
  rotation: 356.0;
  margin-left: 0px;
  margin-top: -2px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_19 {
  rotation: 8.0;
  margin-left: -1px;
  margin-top: -2px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Doctors_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Doctors_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Doctors_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}