#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Doctors {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_3 {
  stroke-width: 1px;
  stroke-dasharray: 1;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_3 {
  stroke-width: 1px;
  stroke-dasharray: 1;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_4 {
  stroke-width: 1px;
  stroke-dasharray: 1;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_4 {
  stroke-width: 1px;
  stroke-dasharray: 1;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_5 {
  stroke-width: 1px;
  stroke-dasharray: 1;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_5 {
  stroke-width: 1px;
  stroke-dasharray: 1;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_6 {
  stroke-width: 1px;
  stroke-dasharray: 1;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_6 {
  stroke-width: 1px;
  stroke-dasharray: 1;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-severe {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-inrisk {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-healthy {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_8 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(302.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_8 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(302.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_9 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(15.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_9 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(15.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_10 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(347.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_10 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(347.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_11 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(38.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_11 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(38.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_12 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(344.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_12 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(344.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_13 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(30.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_13 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(30.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_14 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(353.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_14 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(353.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_15 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(28.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_15 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(28.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_16 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(351.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_16 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(351.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_17 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(21.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_17 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(21.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_18 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(356.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_18 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(356.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_19 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(8.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Line_19 {
  stroke-width: 1px;
  stroke: #404040;
  -ms-transform: rotate(8.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Doctors_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Doctors_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Doctors_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d197c59c-6480-474b-8bc2-41b7e1d5b3b4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}