#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b #s-Finish {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f73f9337-c1d0-4b8f-96de-427a95644a2b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}