<html>
  <body>
    <div class="ui-page" deviceName="androidPhone" deviceType="mobile" deviceWidth="360" deviceHeight="640">
         <div id="t-6772aa48-ec25-48f1-8ac6-38f7b0491f80" class="template growth-both devMobile canvas firer commentable non-processed" alignment="left" name="Extra Screen" width="360" height="640">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/6772aa48-ec25-48f1-8ac6-38f7b0491f80-1554060322785.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/6772aa48-ec25-48f1-8ac6-38f7b0491f80-1554060322785-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/6772aa48-ec25-48f1-8ac6-38f7b0491f80-1554060322785-ie8.css" /><![endif]-->
           <div id="t-Sceen" class="pie image firer ie-background commentable non-processed"   datasizewidth="361px" datasizeheight="640px" dataX="0" dataY="0"   alt="image">
               <img src="./images/7138ad51-e9c0-4f78-bcd3-c1c5e34c51de.png" />
           </div>
           <div id="t-VitalBox" class="pie rectangle firer commentable non-processed"   datasizewidth="360px" datasizeheight="640px" dataX="0" dataY="0" >
            <div class="backgroundLayer"></div>
            <div class="paddingLayer">
              <div class="clipping">
                <div class="content">
                  <div class="valign">
                    <span id="rtr-t-VitalBox_0"></span>
                  </div>
                </div>
              </div>
            </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>