<html>
  <body>
    <div class="ui-page" deviceName="androidPhone" deviceType="mobile" deviceWidth="360" deviceHeight="640">
         <div id="t-c21f05d0-dbfd-4a8c-b045-ab5254718b14" class="template growth-both devMobile canvas firer commentable non-processed" alignment="left" name="Body" width="360" height="640">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/c21f05d0-dbfd-4a8c-b045-ab5254718b14-1554060322785.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/c21f05d0-dbfd-4a8c-b045-ab5254718b14-1554060322785-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/c21f05d0-dbfd-4a8c-b045-ab5254718b14-1554060322785-ie8.css" /><![endif]-->
           <div id="t-Sceen" class="pie image firer ie-background commentable non-processed"   datasizewidth="361px" datasizeheight="640px" dataX="0" dataY="0"   alt="image">
               <img src="./images/7138ad51-e9c0-4f78-bcd3-c1c5e34c51de.png" />
           </div>
           <div id="t-NewModes" class="group firer ie-background commentable non-processed" datasizewidth="159px" datasizeheight="171px" dataX="183" dataY="388" >
             <div id="t-tInbox" class="pie label singleline autofit firer ie-background commentable non-processed"   datasizewidth="39px" datasizeheight="18px" dataX="60" dataY="139" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-tInbox_0">Inbox</span></div></div></div></div>
             <div id="t-tcalendar" class="pie label multiline autofit firer ie-background commentable non-processed"   datasizewidth="64px" datasizeheight="18px" dataX="61" dataY="77" >
               <div class="backgroundLayer"></div>
               <div class="paddingLayer">
                 <div class="clipping">
                   <div class="content">
                     <div class="valign">
                       <span id="rtr-t-tcalendar_0">Calendar</span>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div id="t-tenvirnomentalmode" class="pie label multiline autofit firer ie-background commentable non-processed"   datasizewidth="106px" datasizeheight="36px" dataX="53" dataY="7" >
               <div class="backgroundLayer"></div>
               <div class="paddingLayer">
                 <div class="clipping">
                   <div class="content">
                     <div class="valign">
                       <span id="rtr-t-tenvirnomentalmode_0">Environmental Mode </span>
                     </div>
                   </div>
                 </div>
               </div>
             </div>

             <div id="t-EnvironmentalMode" class="pie image firer ie-background commentable non-processed"   datasizewidth="42px" datasizeheight="43px" dataX="0" dataY="0"   alt="image">
                 <img src="./images/9c5f8670-b0f4-46d3-bc50-9c8929d08453.png" />
             </div>

             <div id="t-Inbox" class="pie image firer ie-background commentable non-processed"   datasizewidth="42px" datasizeheight="43px" dataX="0" dataY="128"   alt="image">
                 <img src="./images/fe37c138-c9b9-42bd-a1f9-558912143a53.png" />
             </div>

             <div id="t-Calendar" class="pie image firer ie-background commentable non-processed"   datasizewidth="42px" datasizeheight="43px" dataX="0" dataY="66"   alt="image">
                 <img src="./images/3bf2c0ec-d6ed-452e-8a1b-62c975fd7364.png" />
             </div>
           </div>
           <div id="t-BodyStatus" class="group firer ie-background commentable non-processed" datasizewidth="174px" datasizeheight="536px" dataX="6" dataY="26" >
             <div id="t-Body" class="pie image firer ie-background commentable non-processed"   datasizewidth="174px" datasizeheight="479px" dataX="0" dataY="57"   alt="image">
                 <img src="./images/e9b35906-5074-4abc-9052-d92f1ecd8ade.png" />
             </div>
             <div id="t-HealthStatus" class="pie label singleline autofit firer ie-background commentable non-processed"   datasizewidth="71px" datasizeheight="30px" dataX="51" dataY="20" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-HealthStatus_0">Healthy</span></div></div></div></div>
             <div id="t-OveralHEalth" class="pie label singleline autofit firer ie-background commentable non-processed"   datasizewidth="102px" datasizeheight="21px" dataX="36" dataY="0" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-OveralHEalth_0">Overall Health:</span></div></div></div></div>
           </div>
           <div id="t-Reminders" class="pie label multiline autofit firer ie-background commentable non-processed"   datasizewidth="151px" datasizeheight="94px" dataX="189" dataY="220" >
             <div class="backgroundLayer"></div>
             <div class="paddingLayer">
               <div class="clipping">
                 <div class="content">
                   <div class="valign">
                     <span id="rtr-t-Reminders_0">Reminders:</span><span id="rtr-t-Reminders_1"><br /></span><span id="rtr-t-Reminders_2"><br />-</span><span id="rtr-t-Reminders_3"> Glass of Water:</span><span id="rtr-t-Reminders_4"> 1h 25m<br />-</span><span id="rtr-t-Reminders_5"> Toilet</span><span id="rtr-t-Reminders_6">: 2h<br />- </span><span id="rtr-t-Reminders_7">Pill A</span><span id="rtr-t-Reminders_8">: 2h 25m<br />- </span><span id="rtr-t-Reminders_9">Daily Exercise</span><span id="rtr-t-Reminders_10">: 20m</span>
                   </div>
                 </div>
               </div>
             </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>